$google-auth-btn-bg: #fff;
$google-auth-btn-text-color: #7A7A7A;
$facebook-auth-btn-bg: #3B5998;
$facebook-auth-btn-text-color: #fff;
$twitter-auth-btn-bg: #55ACEE;
$twitter-auth-btn-text-color: #fff;
$github-auth-btn-bg: #333333;
$github-auth-btn-text-color: #fff;
$email-auth-btn-bg: #DB4437;
$email-auth-btn-text-color: #fff;
$microsoft-auth-btn-bg: #2F2F2F;
$microsoft-auth-btn-text-color: #fff;
$apple-auth-btn-bg: #000000;
$apple-auth-btn-text-color: #fff;
$phone-auth-btn-bg: #02BD7E;
$phone-auth-btn-text-color: #fff;
*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin auth-btn{
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  // padding: 10px 16px;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  &:hover{
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
  .icon{
    font-size: 24px;
  }
}


.google-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $google-auth-btn-bg;
  color: $google-auth-btn-text-color;
  &:hover {
    background: darken($google-auth-btn-bg, 15%);
    border-color: darken($google-auth-btn-bg, 15%);
  }
  
}

.facebook-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $facebook-auth-btn-bg;
  color: $facebook-auth-btn-text-color;
  &:hover {
    background: darken($facebook-auth-btn-bg, 15%);
  }
  .icon{
    color: white;
  }
}

.twitter-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $twitter-auth-btn-bg;
  color: $twitter-auth-btn-text-color;
  &:hover {
    background: darken($twitter-auth-btn-bg, 15%);
  }
  .icon{
    color: white;
  }
}

.github-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $github-auth-btn-bg;
  color: $github-auth-btn-text-color;
  &:hover {
    background: darken($github-auth-btn-bg, 15%);
  }
  .icon{
    color: white;
  }
}

.email-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $email-auth-btn-bg;
  color: $email-auth-btn-text-color;
  &:hover {
    background: darken($email-auth-btn-bg, 15%);
  }
  .icon{
    color: white;
  }
}

.microsoft-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $microsoft-auth-btn-bg;
  color: $microsoft-auth-btn-text-color;
  &:hover {
    background: darken($microsoft-auth-btn-bg, 15%);
  }
  .icon{
    color: white;
  }
}

.apple-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $apple-auth-btn-bg;
  color: $apple-auth-btn-text-color;
  &:hover {
    background: darken($apple-auth-btn-bg, 15%);
  }
  .icon{
    color: white;
  }
}

.phone-auth-btn{
  @include flex-center;
  @include auth-btn;
  background: $phone-auth-btn-bg;
  color: $phone-auth-btn-text-color;
  &:hover {
    background: darken($phone-auth-btn-bg, 15%);
  }
  .icon{
    color: white;
  }
}