.appwriteui-react-google-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #fff;
  color: #7A7A7A;
}
.appwriteui-react-google-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-google-auth-btn:focus {
  outline: none;
}
.appwriteui-react-google-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-google-auth-btn:hover {
  background: #d9d9d9;
  border-color: #d9d9d9;
}

.appwriteui-react-facebook-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #3B5998;
  color: #fff;
}
.appwriteui-react-facebook-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-facebook-auth-btn:focus {
  outline: none;
}
.appwriteui-react-facebook-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-facebook-auth-btn:hover {
  background: #263961;
}
.appwriteui-react-facebook-auth-btn .icon {
  color: white;
}

.appwriteui-react-twitter-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #55ACEE;
  color: #fff;
}
.appwriteui-react-twitter-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-twitter-auth-btn:focus {
  outline: none;
}
.appwriteui-react-twitter-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-twitter-auth-btn:hover {
  background: #1689e0;
}
.appwriteui-react-twitter-auth-btn .icon {
  color: white;
}

.appwriteui-react-github-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #333333;
  color: #fff;
}
.appwriteui-react-github-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-github-auth-btn:focus {
  outline: none;
}
.appwriteui-react-github-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-github-auth-btn:hover {
  background: #0d0d0d;
}
.appwriteui-react-github-auth-btn .icon {
  color: white;
}

.appwriteui-react-email-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #DB4437;
  color: #fff;
}
.appwriteui-react-email-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-email-auth-btn:focus {
  outline: none;
}
.appwriteui-react-email-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-email-auth-btn:hover {
  background: #a7291e;
}
.appwriteui-react-email-auth-btn .icon {
  color: white;
}

.appwriteui-react-microsoft-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #2F2F2F;
  color: #fff;
}
.appwriteui-react-microsoft-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-microsoft-auth-btn:focus {
  outline: none;
}
.appwriteui-react-microsoft-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-microsoft-auth-btn:hover {
  background: #090909;
}
.appwriteui-react-microsoft-auth-btn .icon {
  color: white;
}

.appwriteui-react-apple-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #000000;
  color: #fff;
}
.appwriteui-react-apple-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-apple-auth-btn:focus {
  outline: none;
}
.appwriteui-react-apple-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-apple-auth-btn:hover {
  background: black;
}
.appwriteui-react-apple-auth-btn .icon {
  color: white;
}

.appwriteui-react-phone-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #02a46d;
  color: #fff;
}
.appwriteui-react-phone-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-phone-auth-btn:focus {
  outline: none;
}
.appwriteui-react-phone-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-phone-auth-btn:hover {
  background: #01583b;
}
.appwriteui-react-phone-auth-btn .icon {
  color: white;
}

.appwriteui-react-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Inter", "arial", sans-serif;
}
.appwriteui-react-popup .appwriteui-react-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  background-color: #1B1B27;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-label {
  font-size: 20px;
  color: #FAFAFF;
  font-weight: 700;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-email {
  padding: 10px;
  border: 1px solid #e84078;
  border-radius: 5px;
  background-color: #060609;
  color: #FAFAFF;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-email::placeholder {
  color: #FAFAFF;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-email:focus {
  outline: none;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-password-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-password {
  padding: 10px;
  border: 1px solid #e84078;
  border-radius: 5px;
  background-color: #060609;
  color: #FAFAFF;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-password::placeholder {
  color: #FAFAFF;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-password:focus {
  outline: none;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-show-password {
  color: white;
  font-size: 18px;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-phoneNumber {
  padding: 10px;
  border: 1px solid #e84078;
  border-radius: 5px;
  background-color: #060609;
  color: #FAFAFF;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-phoneNumber::placeholder {
  color: #FAFAFF;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-phoneNumber:focus {
  outline: none;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #db1a5b;
  color: white;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-submit:focus {
  outline: none;
}
.appwriteui-react-popup .appwriteui-react-form .appwriteui-react-submit:hover {
  cursor: pointer;
  background-color: #97123f;
}

.appwriteui-react-popup-closed {
  display: none;
}

.appwriteui-react-amazon-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #FF9900;
  color: #fff;
}
.appwriteui-react-amazon-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-amazon-auth-btn:focus {
  outline: none;
}
.appwriteui-react-amazon-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-amazon-auth-btn:hover {
  background: #b36b00;
}
.appwriteui-react-amazon-auth-btn .icon {
  color: white;
}

.appwriteui-react-auth0-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #EA5424;
  color: #fff;
}
.appwriteui-react-auth0-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-auth0-auth-btn:focus {
  outline: none;
}
.appwriteui-react-auth0-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-auth0-auth-btn:hover {
  background: #b13811;
}
.appwriteui-react-auth0-auth-btn .icon {
  color: white;
}

.appwriteui-react-discord-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #5865F2;
  color: #fff;
}
.appwriteui-react-discord-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-discord-auth-btn:focus {
  outline: none;
}
.appwriteui-react-discord-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-discord-auth-btn:hover {
  background: #707bf4;
}
.appwriteui-react-discord-auth-btn .icon {
  color: white;
}

.appwriteui-react-spotify-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #1DD05E;
  color: #fff;
}
.appwriteui-react-spotify-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-spotify-auth-btn:focus {
  outline: none;
}
.appwriteui-react-spotify-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-spotify-auth-btn:hover {
  background: #148d40;
}
.appwriteui-react-spotify-auth-btn .icon {
  color: white;
}

.appwriteui-react-twitch-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #9146FF;
  color: #fff;
}
.appwriteui-react-twitch-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-twitch-auth-btn:focus {
  outline: none;
}
.appwriteui-react-twitch-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-twitch-auth-btn:hover {
  background: #a060ff;
}
.appwriteui-react-twitch-auth-btn .icon {
  color: white;
}

.appwriteui-react-info-div {
  display: grid;
  place-items: center;
  border: 2px solid #F02E65;
  padding: 10px;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.appwriteui-react-info-div p {
  font-size: 17px;
  color: #5865F2;
}
.appwriteui-react-info-div .info {
  color: #F02E65;
}

.appwriteui-react-sign-out-btn {
  padding: 10px;
  border: 2px solid #F02E65;
  border-radius: 5px;
  background-color: #F02E65;
  margin: 10px;
  color: white;
}
.appwriteui-react-sign-out-btn:hover {
  cursor: pointer;
  background-color: #c30e41;
}

.appwriteui-react-autodesk-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #000000;
  color: #fff;
}
.appwriteui-react-autodesk-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-autodesk-auth-btn:focus {
  outline: none;
}
.appwriteui-react-autodesk-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-autodesk-auth-btn:hover {
  background: black;
}
.appwriteui-react-autodesk-auth-btn .icon {
  color: white;
}

.appwriteui-react-authentik-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #fff;
  color: #F5492C;
}
.appwriteui-react-authentik-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-authentik-auth-btn:focus {
  outline: none;
}
.appwriteui-react-authentik-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-authentik-auth-btn:hover {
  background: #d9d9d9;
}
.appwriteui-react-authentik-auth-btn .icon {
  height: 40px;
  width: 40px;
  color: white;
}

.appwriteui-react-bitbucket-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #2684FF;
  color: #fff;
}
.appwriteui-react-bitbucket-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-bitbucket-auth-btn:focus {
  outline: none;
}
.appwriteui-react-bitbucket-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-bitbucket-auth-btn:hover {
  background: #005ed9;
}
.appwriteui-react-bitbucket-auth-btn .icon {
  color: white;
}

.appwriteui-react-bitly-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #E74C1C;
  color: #fff;
}
.appwriteui-react-bitly-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-bitly-auth-btn:focus {
  outline: none;
}
.appwriteui-react-bitly-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-bitly-auth-btn:hover {
  background: #a53411;
}
.appwriteui-react-bitly-auth-btn .icon {
  color: white;
}

.appwriteui-react-box-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #0061D5;
  color: #fff;
}
.appwriteui-react-box-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-box-auth-btn:focus {
  outline: none;
}
.appwriteui-react-box-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-box-auth-btn:hover {
  background: #003e89;
}
.appwriteui-react-box-auth-btn .icon {
  color: white;
}

.appwriteui-react-dailymotion-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #000000;
  color: #fff;
}
.appwriteui-react-dailymotion-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-dailymotion-auth-btn:focus {
  outline: none;
}
.appwriteui-react-dailymotion-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-dailymotion-auth-btn:hover {
  background: black;
}
.appwriteui-react-dailymotion-auth-btn .icon {
  color: white;
}

.appwriteui-react-disqus-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #2AA0FF;
  color: #fff;
}
.appwriteui-react-disqus-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-disqus-auth-btn:focus {
  outline: none;
}
.appwriteui-react-disqus-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-disqus-auth-btn:hover {
  background: #007add;
}
.appwriteui-react-disqus-auth-btn .icon {
  color: white;
}

.appwriteui-react-dropbox-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #005FF7;
  color: #fff;
}
.appwriteui-react-dropbox-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-dropbox-auth-btn:focus {
  outline: none;
}
.appwriteui-react-dropbox-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-dropbox-auth-btn:hover {
  background: #0042ab;
}
.appwriteui-react-dropbox-auth-btn .icon {
  color: white;
}

.appwriteui-react-etsy-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #EC6102;
  color: #fff;
}
.appwriteui-react-etsy-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-etsy-auth-btn:focus {
  outline: none;
}
.appwriteui-react-etsy-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-etsy-auth-btn:hover {
  background: #a04201;
}
.appwriteui-react-etsy-auth-btn .icon {
  color: white;
}

.appwriteui-react-gitlab-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #DB4128;
  color: #fff;
}
.appwriteui-react-gitlab-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-gitlab-auth-btn:focus {
  outline: none;
}
.appwriteui-react-gitlab-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-gitlab-auth-btn:hover {
  background: #9c2c1a;
}
.appwriteui-react-gitlab-auth-btn .icon {
  color: white;
}

.appwriteui-react-linkedin-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #0A63BC;
  color: #fff;
}
.appwriteui-react-linkedin-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-linkedin-auth-btn:focus {
  outline: none;
}
.appwriteui-react-linkedin-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-linkedin-auth-btn:hover {
  background: #063d73;
}
.appwriteui-react-linkedin-auth-btn .icon {
  color: white;
}

.appwriteui-react-notion-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #0B0B0B;
  color: #fff;
}
.appwriteui-react-notion-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-notion-auth-btn:focus {
  outline: none;
}
.appwriteui-react-notion-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-notion-auth-btn:hover {
  background: black;
}
.appwriteui-react-notion-auth-btn .icon {
  color: white;
}

.appwriteui-react-okta-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #0079BB;
  color: #fff;
}
.appwriteui-react-okta-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-okta-auth-btn:focus {
  outline: none;
}
.appwriteui-react-okta-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-okta-auth-btn:hover {
  background: #00486f;
}
.appwriteui-react-okta-auth-btn .icon {
  color: white;
}

.appwriteui-react-paypal-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #27338e;
  color: #fff;
}
.appwriteui-react-paypal-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-paypal-auth-btn:focus {
  outline: none;
}
.appwriteui-react-paypal-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-paypal-auth-btn:hover {
  background: #171d52;
}
.appwriteui-react-paypal-auth-btn .icon {
  color: white;
}

.appwriteui-react-podio-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #057186;
  color: #fff;
}
.appwriteui-react-podio-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-podio-auth-btn:focus {
  outline: none;
}
.appwriteui-react-podio-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-podio-auth-btn:hover {
  background: #02333c;
}
.appwriteui-react-podio-auth-btn .appwriteui-react-icon {
  height: 30px;
  width: 30px;
}

.appwriteui-react-salesforce-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #029cd9;
  color: #fff;
}
.appwriteui-react-salesforce-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-salesforce-auth-btn:focus {
  outline: none;
}
.appwriteui-react-salesforce-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-salesforce-auth-btn:hover {
  background: #01668d;
}
.appwriteui-react-salesforce-auth-btn .icon {
  color: white;
}

.appwriteui-react-slack-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #481449;
  color: #fff;
}
.appwriteui-react-slack-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-slack-auth-btn:focus {
  outline: none;
}
.appwriteui-react-slack-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-slack-auth-btn:hover {
  background: #0d040d;
}
.appwriteui-react-slack-auth-btn .icon {
  transform: scale(0.45);
  position: relative;
}

.appwriteui-react-stripe-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #6057f7;
  color: #fff;
}
.appwriteui-react-stripe-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-stripe-auth-btn:focus {
  outline: none;
}
.appwriteui-react-stripe-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-stripe-auth-btn:hover {
  background: #776ff8;
}
.appwriteui-react-stripe-auth-btn .icon {
  color: white;
}

.appwriteui-react-tradeshift-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #0833E9;
  color: #fff;
}
.appwriteui-react-tradeshift-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-tradeshift-auth-btn:focus {
  outline: none;
}
.appwriteui-react-tradeshift-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-tradeshift-auth-btn:hover {
  background: #05239f;
}
.appwriteui-react-tradeshift-auth-btn span {
  position: relative;
  right: 13px;
}
.appwriteui-react-tradeshift-auth-btn .icon {
  transform: scale(0.4);
}

.appwriteui-react-wordpress-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #207196;
  color: #fff;
}
.appwriteui-react-wordpress-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-wordpress-auth-btn:focus {
  outline: none;
}
.appwriteui-react-wordpress-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-wordpress-auth-btn:hover {
  background: #134257;
}
.appwriteui-react-wordpress-auth-btn .icon {
  color: white;
}

.appwriteui-react-yahoo-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #5320c4;
  color: #fff;
}
.appwriteui-react-yahoo-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-yahoo-auth-btn:focus {
  outline: none;
}
.appwriteui-react-yahoo-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-yahoo-auth-btn:hover {
  background: #371582;
}
.appwriteui-react-yahoo-auth-btn .icon {
  color: white;
}

.appwriteui-react-yammer-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #0174CD;
  color: #fff;
}
.appwriteui-react-yammer-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-yammer-auth-btn:focus {
  outline: none;
}
.appwriteui-react-yammer-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-yammer-auth-btn:hover {
  background: #014981;
}
.appwriteui-react-yammer-auth-btn .icon {
  height: 35px;
  width: 35px;
}

.appwriteui-react-yandex-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #F71500;
  color: #fff;
}
.appwriteui-react-yandex-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-yandex-auth-btn:focus {
  outline: none;
}
.appwriteui-react-yandex-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-yandex-auth-btn:hover {
  background: #ab0e00;
}
.appwriteui-react-yandex-auth-btn .icon {
  color: white;
}

.appwriteui-react-zoom-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #0265F0;
  color: #fff;
}
.appwriteui-react-zoom-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-zoom-auth-btn:focus {
  outline: none;
}
.appwriteui-react-zoom-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-zoom-auth-btn:hover {
  background: #0145a4;
}
.appwriteui-react-zoom-auth-btn .icon {
  color: white;
}

.appwriteui-react-anonymous-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #F02E65;
  color: #fff;
}
.appwriteui-react-anonymous-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-anonymous-auth-btn:focus {
  outline: none;
}
.appwriteui-react-anonymous-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-anonymous-auth-btn:hover {
  background: #c30e41;
}
.appwriteui-react-anonymous-auth-btn .icon {
  color: white;
}

.appwriteui-react-magicurl-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  border: none;
  background: #4F4CE8;
  color: #fff;
}
.appwriteui-react-magicurl-auth-btn:hover {
  cursor: pointer;
}
.appwriteui-react-magicurl-auth-btn:focus {
  outline: none;
}
.appwriteui-react-magicurl-auth-btn .icon {
  font-size: 24px;
}
.appwriteui-react-magicurl-auth-btn:hover {
  background: #6563eb;
}
.appwriteui-react-magicurl-auth-btn .icon {
  color: white;
}
